Мы создаем проект для моего кафе. Направленый на клиентов ресторана и администратору.
Когда пишешь код, учитывай что этот код будет использоваться в реальном проекте.
Будь уверен что ты не ломаешь существующий код, если это не нужно.
