@use '../../styles/variables';
@use '../../styles/mixins';
@use "sass:color";

.dish-list {
  .dishes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    
    @include mixins.responsive(desktop) {
      grid-template-columns: repeat(2, 1fr);
    }
    
    @include mixins.responsive(tablet) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }
    
    @include mixins.responsive(mobile) {
      grid-template-columns: 1fr;
    }
  }
  
  .no-dishes {
    text-align: center;
    padding: 3rem 0;
    color: color.adjust(variables.$text-color, $lightness: 20%);
    
    p {
      font-size: 1.1rem;
    }
  }
}